<!-- begin header -->
<div class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__left">
				<div class="logo">SuperCompany</div>
				<form name="search" class="search">
					<input type="text" name="search" class="textual" placeholder="Search">
					<a href="#" class="search__icon">{{mixins.icon('search')}}</a>
				</form>
			</div>
			<div class="header__right">
				<div class="header__user">
					<div class="advanced">
						<div class="advanced__icon">
							<a href="#">{{mixins.icon('settings')}}</a>
						</div>
						<div class="advanced__value">
							<a href="#" class="h4">Advanced</a>
						</div>
					</div>
					<div class="email">
						<div class="email__icon">
							<a href="#">{{mixins.icon('home')}}</a>
						</div>
						<div class="email__value">
							<a href="#" class="textual">emma.davidson@caterptillar.com</a>
						</div>
					</div>
					<div class="login">
						<a href="#" class="btn">Log out</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="header__left">
			<ul class="nav">
				<li class="nav__item">
					<a href="#" class="nav__link is-active textual textual_upper">
						<span>{{mixins.icon('home')}}</span>
						<span>Home</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link textual textual_upper">
						<span>{{mixins.icon('home')}}</span>
						<span>My Docushare</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link textual textual_upper">
						<span>{{mixins.icon('task')}}</span>
						<span>My Task</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link textual textual_upper">
						<span>{{mixins.icon('shape')}}</span>
						<span>My Favorites</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link textual textual_upper">
						<span>{{mixins.icon('recent')}}</span>
						<span>Recent</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="header__right">
			<div class="jobs">
				<div class="jobs__icon">{{mixins.icon('jobs')}}</div>
				<div class="jobs__value textual textual_upper">BACKGROUND JOBS</div>
				<a href="#" class="jobs__number">8</a>
			</div>
		</div>

	</div>
</div>
<!-- end header -->