.icon-arrow {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-buffer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-jobs {
  width: 1em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-paperplane {
  width: 1em;
  height: 1em;
  fill: #333;
}
.icon-recent {
  width: 1em;
  height: 1em;
  fill: #7F7F7F;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #929292;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shape {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-share {
  width: 1em;
  height: 1em;
  fill: #6A6E7C;
}
.icon-speech {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-task {
  width: 1.13em;
  height: 1em;
  fill: #383e42;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #303030;
}
.icon-workspace {
  width: 1em;
  height: 1em;
  fill: #121313;
}
